html, body {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Proxima', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #484d53;
    overflow-x: hidden;
    position: relative;
}

html {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
    padding-bottom: 150px;
}

a {
    transition: all 0.1s ease;
    color: #49a242;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

a:hover {
    color: #FFC107;
    text-decoration: underline;
}

h1 {
    margin-top: 0;
    padding: 20px 3%;
    background: #3D4045;
    color: #7cc576;
    font-size: 40px;
}

h2 {
    margin: 35px 0 20px 0;
    padding: 0 3%;
    font-size: 28px;
}

h3 {
    margin: 0 0 15px 0;
    font-size: 26px;
}

pre {
    margin: 5px;
    font-family: monospace;
    font-size: 14px;
}

.github {
    float: right;
    margin: 20px 3% 0 0;
}

.github svg {
    fill: #7cc576;
}

.as-array {
    margin: 20px 3%;
    padding: 20px;
    background: #eee;
    border-radius: 10px;
}

.link-btns {
    margin-bottom: 30px;
    padding: 0 3%;
}

.link-btns a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 15px 11px 15px;
    background: #7cc576;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
}

.link-btns a:hover {
    background: #FFC107;
}

.module-name {
    text-transform: uppercase;
}

.methods {
    padding: 0 6%;
}

.methods table {
    border-collapse: collapse;
}

.methods td {
    padding: 10px 15px;
    border: 1px solid #ddd;
}

.method-name {
    white-space: nowrap;
}

.note {
    font-size: 0.875em;
}
