html, body {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Proxima', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #484d53;
    overflow-x: hidden;
    position: relative;
}

html {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
    padding-bottom: 150px;
}

a {
    transition: all 0.1s ease;
    color: #49a242;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

a:hover {
    color: #FFC107;
    text-decoration: underline;
}

h1 {
    margin: 0;
    font-size: 50px;
    font-size: 15vw;
    text-align: center;
    color: #7cc576;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.6);
}

h2 {
    margin: 0;
    font-size: 20px;
    font-size: 3.5vw;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

hr {
    margin: 0 10%;
}

pre {
    padding: 2vw;
    background: #eee;
    border-radius: 10px;
    font-family: monospace;
    font-size: 14px;
    line-height: 2em;
}

.header {
    padding: 5% 8% 7% 8%;
    background: #3D4045;
    background-image: radial-gradient(50% 80% at top, #777, #3D4045);
    color: #eee;
    cursor: default;
}

.shadow {
    width: 80%;
    height: 3vw;
    margin: 5% auto 0 auto;
    background-image: radial-gradient(50% 50%, #333, #3D4045);
}

.actions {
    text-align: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
}

.actions a {
    border: 2px solid #999;
    color: #3D4045;
    padding: 1.4vw 4%;
    margin: 2vw 2%;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.1s ease;
}

.actions a:hover {
    text-decoration: none;
    color: #7cc576;
    border-color: #7cc576;
}

.body-block {
    margin: 5vw 10%;
}

/*

p {
    margin: 15px 6%;
    color: #6a727b;
    font-size: 16px;
    font-style: italic;
}

pre {
    margin: 15px 6%;
    color: #6a727b;
    font-size: 14px;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 3px;
    line-height: 1.5em;
}

table {
    margin: 15px 6%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

.back-btn {
    float: right;
    border: 2px solid white;
    color: #eee;
    padding: 8px 26px;
    margin: 20px 3%;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.1s ease;
}

.back-btn:hover {
    color: #3D4045;
    text-decoration: none;
    background-color: #eee;
}

*/
